/* ================================= 
  Base Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'muli', sans-serif;
    line-height: 1.5;
    color: rgb(72, 75, 75);
    text-align: center;
    background-color: rgb(114, 179, 205);
}

.content {
  color: white;
}

h1 {
  margin: 20px 0 5px 0;
  font-size: 2.5em;
  color: white;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: rgb(72, 75, 75);
  display: block;
  background-color: rgb(114, 179, 205);
  color: white;
}

footer {
  color: white;
}

img {
  width: 90%;
  margin: 0 auto;
}

/* ================================= 
  Base Layout Styles
==================================== */

.content {
  background-color: rgb(114, 179, 205);
}

.main-header {
  width: 90%;
  margin: 10px auto;
  background-color: rgb(114, 179, 205);
}

.nav {
  width: 60%;
  margin: 0 auto;
}

.nav li {
  font-size: 1.25em;
  background-color: rgb(114, 179, 205);
  margin: 2px;
  padding: 3px 0;
}

.profile-pic {
  margin: 10px;
  width: 80%;
  border-radius: 20%;
}

.banner p {
  margin: 10px 20px;
  padding-bottom: 10px;
  background-color: rgb(114, 179, 205);
}

.main-content {
  background-color: white;
  padding: 20px 0;
}

.box,
.skills-box {
  padding-bottom: 30px;
}

.label {
  font-size: 1.3em; 
  margin: 5px 0;
}

.box p,
.skills-box p {
  width: 90%;
  margin: 0 auto 10px auto;
}

.contact {
  border-top: 3px solid lightgray;
}

.big-footer {
  display: none;
}

.small-footer a,
.small-footer p {
  display: inline-block;
  width: 45%;
}

.small-footer a {
  text-transform: uppercase;
  margin-left: 10px;
}

/* ================================= 
  Media Queries
==================================== */

/* Tablets */

@media (min-width: 768px) {

  a {
    display: block;
  }

  .nav li {
    width: 22%;
    display: inline-block;
    padding: 5px 15px;
    background-color: rgb(114, 179, 205); 
    text-align: center;
  }

  .banner img {
    width: 30%;
    float: right;
    margin-right: 50px;
    padding-bottom: 10px;
  }

  .banner p {
    width: 40%;
    margin-left: 60px;
    padding-top: 10px;
  }

  .portfolio,
  .skills {
    display: flex;
    flex-wrap: wrap;
  }

  .box {
    width: 50%;
  }

  .skills-box {
    width: 50%;
  }

  .contact-p {
    width: 70%;
    margin: 0 auto;
  }

  .small-footer {
    display: none;
  }

  .big-footer {
    width: 90%;
  }

  .big-footer,
  .big-footer p,
  .big-footer ul {
    display: inline-block;
  }

  .big-footer ul {
    margin-left: 20px;
    padding-left: 70px;
  }

  .big-footer li {
    font-size: .75em;
    padding: 5px;
  }
}

@media (min-width: 1024px) {

    .container {
      width: 85%;
      margin: 0 auto;
    }

    .main-header {
      overflow: hidden;
    }

    .title, 
    .nav a {
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 0;
      padding: 10px 0;
    }

    .title {
      float: left;
    }

    .nav {
      width: 50%;
      float: right;
      margin: 0 auto;
      text-align: right;
    }

    .nav li {
      float: left;
      padding: 0;
      margin: 0;
    }

    .banner {
      width: 90%;
    }
    
    .banner p {
      width: 50%;
      height: 80%;
      padding-top: 4%;
    }
    
    .banner p,
    .banner img {
      margin-left: 50px;
      margin-right: 50px;
    }

    .box {
      width: 33%;
    }


}

/* Clearfix */

.clearfix::after {
  content:"";
  display: table;
  clear: both;
}